
nav li:hover{
  background-color: #474040;
}

.dropdown-menu li a:hover{
  font-weight: bold;
}

#logo{
  width: 100%;
}

body{
  background-color: #F37E2B;
}

.encabezado, .barra, #logo{
  margin: 0px !important;
  padding: 0px !important;
}
