
#logo{
  width: 100%;
}

nav li:hover{
  background-color: #474040;
}

.dropdown-menu li a:hover{
  font-weight: bold;
}

.encabezado, .barra, #logo{
  margin: 0px !important;
  padding: 0px !important;
}

.separador{
    clear: both;
}

#contenido{
    background-color: white;
}

.titulo{
    margin: 50px;
}

h1 {
  text-align: center;
  color: white !important;
  font-weight: bold;
  text-shadow: 0px 0px 30px white;
  background-color: red;
}

h3, .rojo{
  color: red;
  text-shadow: 0px 0px 20px white;
}

.item{
  color: #474040;
}

.comentario{
  text-align: center;
}

.carousel .item > img {
    display: inline-block;
}


.carousel-inner {
  text-align: center;
}

a:hover{
  text-shadow: 0px 0px 20px red;
}
