body{
  margin: 0;
  background-color: #267257;
}

h1{
    margin-top: 0px;
    background-color: #282772;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 20px white;
    font-weight: bold;
    font-size: 200px;
}

#paneles{
  width: 20%;
  text-align: center;
  margin-left: 50px;
  margin-right: 10px;
  float: left;
}

.paneljug{
  margin-top: 50px;
  margin-right: 5px;
  font-weight: bold;
}

.panel-body{
  color: black;
}

#j1{
  float:left;
}

#j2{
  float: right;
}

.mesa{
  width: 70%;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
}

.mesa button{
  color: white;
  font-size: 30px;
  border: 3px solid white;
  font-weight: bold;
}

.rojo, #rojo{
  background-color: #7B0101;
  text-shadow: 0px 0px 10px red;
}

.negro, #negro{
  background-color: black;
  text-shadow: 0px 0px 10px black;
}

.verde{
  background-color: #267257;
}

.separador, footer{
  clear: both;
}

#tirar{
  margin-top: 30px;
  font-size: 50px;
}

#paneles img{
  width: 30px;
  height: 45px; 
}
