body{
  margin: 0;
  background-color: #267257;
  color: white;
}

.cent{
  text-align: center;
}

h1{
  font-size: 80px;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 30px;
}


.numeroap input {
  margin-top: 15px;
}

.numeroap{
  font-size: 30px;
  white-space: pre-wrap;
}

.apuesta{
  margin-left: 15px;
  width: 20%;
  border: 3px solid white;
  display: inline-block;
}

#boton{
    font-weight: bolder;
    font-size: 90px;
    border: 5px solid black;
}

#boton:hover{
  background-color: black;
  color: white;
}

.numerogan{
  float: right;
  display: inline-block;
  background-color: red;
  width: 30%;
  height: 450px;
  margin-right: 33%;
  border: 7px solid black;
}

#numeroganador {
  font-size: 130px;
  text-align: center;
}
